@font-face {
    font-family: 'oddly_calmingregular';
    src: url('webfontkit/oddlycalmingregular-7b89v-webfont.woff2') format('woff2'),
         url('webfontkit/oddlycalmingregular-7b89v-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'hello_goodbyeregular';
  src: url('webfontkit3/hellogoodbye-webfont.woff2') format('woff2'),
       url('webfontkit3/hellogoodbye-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #fccc55;
}

h1, h3, h4 {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-family: 'oddly_calmingregular';
    font-size: xx-large;
}

h3 {font-size: x-large;}

h4 {
  font-size: 50;

}

.images {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 30px;
}

#rock-text, #paper-text, #scissors-text, #scorecard {
    display: flex;
    justify-content: center;
    font-family: 'oddly_calmingregular';
    font-size: x-large;
    font-weight: 100;
}

#rock-img:hover, #paper-img:hover, #scissors-img:hover {
    transform: scale(1.1);
    transition: all .07s ease;
    }

#playerScoreCount, #computerScoreCount {
    font-family: 'hello_goodbyeregular';
    font-size: 40;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: flex;
    justify-content: center;
    
}

#playerSelected, #computerSelected {
  color: #817f98
} 

#scorecard {
  display:flex;
  flex-direction:column;
}

#bottom-half {
  display:flex;
  justify-content: space-evenly;
}